/* @import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap"); */

.keyframes__firsAnimationclass {
  animation: keyframes__firsAnimation 1s infinite;
  /* font-family: "Droid Sans", cursive; */
  /* font-family: "Cabin Sketch", cursive !important; */

  /* opacity: 0 !important; */
}
/* @import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap"); */

@keyframes keyframes__firsAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(3);
  }
}
